<!-- navbar  -->
<header class="header-global">
  <nav
    id="navbar-main"
    aria-label="Primary navigation"
    class="
      navbar navbar-main navbar-expand-lg navbar-theme-primary
      headroom
      navbar-light
    "
  >
    <div class="container position-relative" data-aos="fade-down"  data-aos-duration="3000">
      <a
        class="
          navbar-brand
          shadow-soft
          py-2
          px-3
          rounded
          border border-light
          mr-lg-4
        "
        routerLink="/home" style="font-family: cursive;"
      >
        NR
      </a>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a
              routerLink="/home"
                class="
                  navbar-brand
                  shadow-soft
                  py-2
                  px-3
                  rounded
                  border border-light
                "
              >
                NR
              </a>
            </div>
            <div class="col-6 collapse-close">
              <a
                href="#navbar_global"
                class="fas fa-times"
                data-toggle="collapse"
                data-target="#navbar_global"
                aria-controls="navbar_global"
                aria-expanded="false"
                title="close"
                aria-label="Toggle navigation"
              ></a>
            </div>
          </div>
        </div>

        <ul class="navbar-nav navbar-nav-hover d-flex align-items-center">
          <li class="nav-item">
            <a
              class="
                animate-up-4
               
                nav-link
                active
                text-secondary
                mb-sm-3 mb-md-0
              "
              routerLink="/home"
            >
              Home</a
            >
          </li>
          <li class="nav-item" >
            <a
              class="animate-up-4 nav-link text-secondary mb-sm-3 mb-md-0"
               routerLink="/aboutme"
            >
              About me</a
            >
          </li>
          <li class="nav-item">
            <a
              class="animate-up-4 nav-link text-secondary mb-sm-3 mb-md-0"
              routerLink="/education"
            >
              Education</a
            >
          </li>
          <li class="nav-item">
            <a
              class="animate-up-4 nav-link text-secondary mb-sm-3 mb-md-0"
              routerLink="/workExp"
            >
              Courses/Contribution</a
            >
          </li>
          <li class="nav-item">
            <a
              class="animate-up-4 nav-link text-secondary mb-sm-3 mb-md-0"
              routerLink="/achievements"
            >
              Achievements</a
            >
          </li>
          <li class="nav-item">
            <a
              class="animate-up-4 nav-link text-secondary mb-sm-3 mb-md-0"
              routerLink="/project"
            >
              GithubRepo</a
            >
          </li>
          <li class="nav-item">
            <a
              class="animate-up-4 nav-link text-secondary mb-sm-3 mb-md-0"
              routerLink="/resume"
            >
              Resume</a
            >
          </li>
          <li class="nav-item">
            <a
              class="animate-up-4 nav-link text-secondary mb-sm-3 mb-md-0"
              routerLink="/youtube"
            >
              Youtube</a
            >
          </li>
          <li class="nav-item">
            <a
              class="animate-up-4  nav-link text-secondary mb-sm-3 mb-md-0"
              routerLink="/blog"
            >
              blog</a
            >
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center">
        <button
          class="navbar-toggler ml-2"
          type="button"
          data-toggle="collapse"
          data-target="#navbar_global"
          aria-controls="navbar_global"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
</header>
<br /><br />
