<div class="container pt-5">
  <div class="mx-auto mb-5 mt-5 text-center" style="width: 300px; height: 50px">
    <h4
      
      data-aos-duration="3000"
      data-aos="fade-down"
    >
      &nbsp;Github Status
    </h4>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8" data-aos-duration="3000" data-aos="fade-down">
      <div class="card bg-primary shadow-inset border-light">
        <div class="card-body p-5 text-center justify-content-center">
          <img
            src="https://github-readme-stats.vercel.app/api?username=NishikantaRay&count_private=true&show_icons=true&title_color=333&icon_color=333"
            alt="github status"
            class="githubstatus"
          />
        </div>
      </div>
    </div>
  </div>
</div>
