<app-githubpages></app-githubpages>
<div class="container">
  <div class="mx-auto mb-5 mt-5 text-center" style="width: 300px; height: 50px">
    <h4 style="font-family: cursive" data-aos-duration="3000" data-aos="fade-down">&nbsp;Hobby</h4>
  </div>
  <div class="row" >
    <div class="col-4 pt-3 col-md-2" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500" *ngFor="let user of arrproject;">
      <div class="card bg-primary border-light shadow-soft">
        <img
          src="{{user.url}}"
          class="card-img-top rounded-top"
          alt="Themesberg office"
        />
        <div class="card-body">
          <span class="h6 icon-tertiary small"
            ><span class="fas fa-medal mr-2"></span>{{user.name}}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
