<div class="container  pt-5 mt-5">
    <div class="mx-auto mt-2 text-center" style="width: 300px; height: 50px">
        <h4 data-aos="fade-down">&nbsp; Blog</h4>
    </div>
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let user of blog;">
            <div class="card bg-primary shadow-inset text-center border-light p-3">
                <div class="card-body shadow-soft rounded border border-light py-5">
                    <a href="{{user.url}}">
                        <img  height="100%" width="100%" src="{{user.pic}}" alt="blog">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>