<div class="preloader">
  <div class="frame">
    <div class="center">
      <div class="dot-1"></div>
      <div class="dot-2"></div>
      <div class="dot-3"></div>
    </div>
  </div>
</div>

<div id="particles-js"></div>

<div class="pt-5 mt-5 container">
  <br />
  <br /><br />
  <div
    class="
      profile-image
      bg-primary
      mx-auto
      shadow-inset
      border border-light
      rounded-circle
      p-3
      ml-3
      mt-n5
    "
  >
    <img
      src="https://avatars.githubusercontent.com/u/62615392?v=4"
      class="card-img-top rounded-circle"
      alt="Nishikanta Ray"
      data-aos-duration="3000"
      data-aos="fade-down"
    />
  </div>
  <div
    class="mx-auto mt-2 text-center"
    style="width: 300px; height: 50px"
    data-aos="zoom-in-up"
  >
    <h4 >&nbsp; Hey, I'm Nishikanta Ray</h4>
    <div class="word text-danger" ></div>
    <br />
  </div>
  <div
    class="mx-auto mt-3"
    style="width: 380px; padding-left: 20px"
    data-aos="fade-down"
    data-aos-duration="3000"
  >
    <button
      class="btn btn-icon-only btn-pill btn-twitter mr-3"
      type="button"
      aria-label="youtube button"
      data-aos="zoom-in-up"
      data-aos-duration="3000"
      title="youtube button"
      onclick="location.href = 'https://twitter.com/NishikantaRay5';"
    >
      <span aria-hidden="true" class="fab fa-twitter"></span>
    </button>
    <button
      class="btn btn-icon-only btn-pill btn-instagram mr-3"
      type="button"
      aria-label="youtube button"
      title="youtube button"
      onclick="location.href = 'https://instagram.com/nishikant.ray.16?utm_medium=copy_link';"
    >
      <span aria-hidden="true" class="fab fa-instagram"></span>
    </button>
    <button
      class="btn btn-icon-only btn-pill btn-youtube mr-3"
      type="button"
      aria-label="youtube button"
      title="youtube button"
      onclick="location.href = 'https://www.youtube.com/channel/UCDXj9OJ3P0_bvwRetEENp9g/featured';"
    >
      <span aria-hidden="true" class="fab fa-youtube"></span>
    </button>
    <button
      class="btn btn-icon-only btn-pill btn-github mr-3"
      type="button"
      aria-label="youtube button"
      title="youtube button"
      onclick="location.href = 'https://github.com/NishikantaRay';"
    >
      <span aria-hidden="true" class="fab fa-github"></span>
    </button>
    <button
      class="btn btn-icon-only btn-pill btn-facebook mr-3"
      type="button"
      aria-label="youtube button"
      title="youtube button"
      onclick="location.href = 'https://www.facebook.com/nishikant.ray.16';"
    >
      <span aria-hidden="true" class="fab fa-facebook"></span>
    </button>
    <button
      class="btn btn-icon-only btn-pill btn-linkedin mr-3"
      type="button"
      aria-label="youtube button"
      title="youtube button"
      onclick="location.href = 'https://www.linkedin.com/in/nishikanta-ray-7786a0196/';"
    >
      <span aria-hidden="true" class="fab fa-linkedin"></span>
    </button>
  </div>
</div>
<app-contactus-page></app-contactus-page>
