<div class="container text-center justify-content-center pt-4 w-50 mt-5">
  <div class="card bg-primary shadow-soft text-center border-light">
    <img
      src="https://raw.githubusercontent.com/NishikantaRay/Minimalist-portfolio/main/Nishikanata_Ray-1.png"
      alt=""
      srcset=""
    />
  </div>
  <br><br>
  <button class="btn btn-primary text-secondary mr-2  mb-2" onclick="window.location.href='https://drive.google.com/file/d/1WApjWE7z4gZTPaRMDvvLcMzEMFdt3qqL/view?usp=sharing'" type="button">Download</button>
</div>
